
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p></p>
<div>
    <form action="changeDate" method="post">
        <input name="date" type="date" />
        <input name="submit" type="submit" />
    </form>
    <p>
        @Model
    </p>
</div>
